.create-password {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(34, 34, 34, 0.95);
  text-align: center;
  z-index: 101;
  .button-cancel {
    float: right;
    cursor: pointer;
    padding: 10px 10px;
    .cancel-btn {
      width: 70%;
    }
  }
  .title-text-create {
    color: #d0d0d0;
    font-size: 30px;
    padding: 100px;
    line-height: 1.8;
    font-weight: 300;
    span {
      font-size: 40px;
    }
  }
  .password {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .input-password {
      font-size: 24px;
      border: 0;
      outline: 0;
      background: transparent;
      border-bottom: 1px solid #3e3e3e;
      padding-bottom: 5px;
      color: #d0d0d0;
      text-align: center;
      width: 400px;
    }
    .set-password {
      background-color: #009dd8;
      border-radius: 6px;
      width: 200px;
      height: 40px;
      color: #d0d0d0;
      border: 0;
      outline: none;
      margin: 40px 0;
      font-weight: bold;
    }
  }
  .email {
    display: flex;
    align-items: center;
    justify-content: center;
    .input-email {
      font-size: 24px;
      border: 0;
      outline: 0;
      background: transparent;
      border-bottom: 1px solid #3e3e3e;
      padding-bottom: 5px;
      color: #d0d0d0;
      text-align: center;
      width: 500px;
    }
    .send-email {
      background-color: #009dd8;
      border-radius: 6px;
      width: 150px;
      height: 40px;
      color: #d0d0d0;
      border: 0;
      outline: none;
      margin: 15px 30px;
    }
  }
  .description-footer {
    width: 70%;
    margin: 180px auto 0;
    border-top: 1px solid #d0d0d0;
    .description-text {
      color: #d0d0d0;
      padding-top: 10px;
      text-align: left;
      span {
        line-height: 4;
      }
    }
  }
}
