.collaborator-wrapper {
  width: 700px;
  margin: auto;
  text-align: left;
  .title-text-collab {
    font-size: 16px;
    color: #dddddd;
  }

  .email-wrapper {
    margin: 10px 0;
    .collab-email {
      display: flex;
      text-align: left;
      margin: 10px 0;
    }
    .btn-remove {
      margin-left: 10px;
      background: #555555;
      color: white;
      border: none;
      border-radius: 6px;
    }
  }
}
.create-password {
  z-index: 101;
  .email {
    .input-email-collab {
      text-align: left !important;
      font-size: 20px;
    }
  }
}
